/*
Make color shades: 
    color-mix(in srgb, var(--secondary-color) 60%, black)

Make grid auto-fit content: 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
*/

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
        url('./fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    line-height: 1.6;
    font-family: "Roboto", Arial, sans-serif;
    box-sizing: border-box;
    --primary-color: #e5e5e5;
    --secondary-color: #2d3142;
    --background-color: #d9e2f1;
    --button-color: #424d64;
    --todo-item-color: #ffffff;
    --text-color: black;
}

h1, h2, h3, h4, p, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: color-mix(in srgb, var(--background-color) 75%, black);
    color: var(--text-color);
    display: grid;
    grid-template-columns: clamp(200px, 25%, 300px) auto;
    grid-template-rows: masonry;
    min-height: 100vh;
}

#dialog-form {
    display: flex;
    flex-direction: column;
}

textarea {
  resize: vertical;
}

div.sidebar {
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;;
    box-shadow: 4px 0px 5px rgba(0,0,0,0.2);
}

#project-list {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.project {
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

#add-project-form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1rem;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

input:focus, textarea:focus {
    outline: none;
}

button, .project {
    cursor: pointer;
    background-color: var(--button-color);
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover, .project:hover {
    background-color: color-mix(in srgb, var(--button-color) 85%, white);
}

.form-buttons-project, .form-buttons-todo-list, .form-buttons-todo-item {
    display: flex;
    gap: 0.5rem;
}

.form-buttons-project > button, .form-buttons-todo-list > button, .form-buttons-todo-item > button {
    width: 200px;
}

div.main {
    padding: 1rem;
}

#current-project {
    background-color: color-mix(in srgb, var(--primary-color) 70%, white);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

#todo-lists {
    column-count: auto;
    column-width: clamp(300px, 30rem, 350px);
}

.add-todo-list-btn {   
    width: 100%;
    height: 6rem;
    font-size: 4rem;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
}

#add-todo-list-div, .add-todo-item-div {
    display: flex;
    flex-direction: column;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
}

.todo-list, .add-todo-list-form-active {
    background-color: color-mix(in srgb, var(--primary-color) 70%, white);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.todo-list-top-content, .project-top-content {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 0.5rem;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
}

.project-top-content {
    margin-bottom: 0.5rem;
}


.todo-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.todo-item {
    background-color: var(--todo-item-color);
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 0.5rem;
}

.todo-item-notes {
    font-size: 0.9rem;
}

.todo-item-top-content {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 0.5rem;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0.5rem;
}

.todo-item-due-date {
    font-size: 0.8rem;
    color: gray;
}

[data-is-completed="true"] {
    background-color: color-mix(in srgb, var(--todo-item-color) 95%, black);
    color: color-mix(in srgb, var(--text-color) 50%, white);
    text-decoration: line-through;
    opacity: 0.7;
}
div.very-high {
    border-left: 6px solid red;
}

div.high {
    border-left: 6px solid orange;
}

div.normal {
    border-left: 6px solid yellow;
}

div.low {
    border-left: 6px solid green;
}

div.very-low {
    border-left: 6px solid blue;
}

.iconify {
    width: 1em;
    height: 1em;
    font-size: 1.2rem;
    vertical-align: -0.125em; 
    transform: rotate(360deg);
}

.clickable-icon, input[type="checkbox"], .todo-item-bottom-content {
    cursor: pointer;
}

dialog {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    padding: 1rem 1rem 0.5rem 1rem;
    width: 500px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

menu {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding-top: 1rem;
    margin: 0;
    border-top: 1px solid lightgray;
    margin-top: 1rem;
}

menu > button {
    width: 100px;
}

#confirm-delete-btn {
    background-color: red;
}

#confirm-delete-btn:hover {
    background-color: color-mix(in srgb, red 65%, white);
}

#confirm-edit-btn, #add-new-todo-item-btn, #add-new-todo-list-btn, #add-new-project-btn {
    background-color: green;
}

#confirm-edit-btn:hover, #add-new-todo-item-btn:hover, #add-new-todo-list-btn:hover, #add-new-project-btn:hover {
    background-color: color-mix(in srgb, green 65%, white);
}
