/*
Make color shades: 
    color-mix(in srgb, var(--secondary-color) 60%, black)

Make grid auto-fit content: 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
*/

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
        url('./fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    line-height: 1.6;
    font-family: "Roboto", Arial, sans-serif;
    box-sizing: border-box;
    --primary-color: #e1e1e1;
    --secondary-color: #555555;
    --text-color: black;
}

h1, h2, h3, h4, p, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: clamp(200px, 25%, 300px) auto;
    grid-template-rows: masonry;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

#dialog-form {
    display: flex;
    flex-direction: column;
}

textarea {
  resize: vertical;
}

div.sidebar {
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;;
    box-shadow: 4px 0px 5px rgba(0,0,0,0.2);
}

#project-list {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.project {
    background-color: color-mix(in srgb, var(--secondary-color) 75%, black);
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

.project:hover {
    background-color: color-mix(in srgb, var(--secondary-color) 85%, black);
}

#add-project-form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1rem;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

input:focus, textarea:focus {
    outline: none;
}

button:hover {
    background-color: color-mix(in srgb, var(--secondary-color) 85%, black);
    color: white;
}

.form-buttons-project, .form-buttons-todo-list, .form-buttons-todo-item {
    display: flex;
    gap: 0.5rem;
}

.form-buttons-project > button, .form-buttons-todo-list > button, .form-buttons-todo-item > button {
    width: 200px;
}

div.main {
    padding: 1rem;
}

#current-project {
    background-color: color-mix(in srgb, var(--primary-color) 70%, white);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

#todo-lists {
    column-count: auto;
    column-width: clamp(300px, 30rem, 350px);
}

.add-todo-list-btn {   
    width: 100%;
    height: 6rem;
    font-size: 4rem;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
}

#add-todo-list-div, .add-todo-item-div {
    display: flex;
    flex-direction: column;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
}

.todo-list {
    background-color: color-mix(in srgb, var(--primary-color) 70%, white);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.todo-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.todo-item {
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 0.5rem;
}
